/* 통합 기본 (WOFF2, 전체) */
@font-face {
  font-family: 'TillVictoryComes';
  src: url('https://cdn.jsdelivr.net/gh/tillvictorycomes/TillVictoryComes-font/tillvictorycomes-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Latin */
@font-face {
  font-family: 'TillVictoryComes';
  src: url('https://cdn.jsdelivr.net/gh/tillvictorycomes/TillVictoryComes-font/tillvictorycomes-Regular-latin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007E, U+00A0-00FF, U+2000-206F, U+20A0-20CF;
}

/* HCore: 자모/호환자모 */
@font-face {
  font-family: 'TillVictoryComes';
  src: url('https://cdn.jsdelivr.net/gh/tillvictorycomes/TillVictoryComes-font/tillvictorycomes-Regular-hcore.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1100-11FF, U+3130-318F;
}

/* Hsyll-A: 완성형 초반 */
@font-face {
  font-family: 'TillVictoryComes';
  src: url('https://cdn.jsdelivr.net/gh/tillvictorycomes/TillVictoryComes-font/tillvictorycomes-Regular-hsyll-a.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+AC00-U+C0FF;
}

/* Hsyll-B: 완성형 중간 */
@font-face {
  font-family: 'TillVictoryComes';
  src: url('https://cdn.jsdelivr.net/gh/tillvictorycomes/TillVictoryComes-font/tillvictorycomes-Regular-hsyll-b.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+C100-U+D0FF;
}

/* Hsyll-C: 완성형 후반 */
@font-face {
  font-family: 'TillVictoryComes';
  src: url('https://cdn.jsdelivr.net/gh/tillvictorycomes/TillVictoryComes-font/tillvictorycomes-Regular-hsyll-c.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+D100-U+D7A3;
}

body {
  font-family: 'TillVictoryComes', sans-serif;
}
